/* Font family */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Azeret Mono";

}


/* Shared-style */
.opacity {
    opacity: 0.7;
    line-height: 26px;
}

.color-1 {
    color: rgb(13, 19, 33);
}

.color-2 {
    color: rgba(13, 19, 33, 0.7);
}

.section-title {
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;

}

.development-section-sub-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.development-btn {
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;

}

/* Banner */
.banner-container {
    background-image: url(/assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 620px;
    text-align: center;

}

.banner-container>div {
    max-width: 990px;
    margin: 0 auto;
    padding: 25px 0 45px 0;

}

.banner-container img {
    padding-bottom: 32px;
}

.banner-container h1 {
    padding-bottom: 24px;
    font-weight: 800;
    font-size: 48px;

}

.banner-container p {
    padding-bottom: 32px;

}

.btn-banner {
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

/* Web development section */
.web-development-section {
    width: 1100px;
    margin: 74px auto 90px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding: 80px 0;
}

.web-development-section h3 {
    text-align: center;
    padding-bottom: 24px;
}

.web-development-section>p {
    width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 48px;
}

.web-development-details {
    width: 945px;
    margin: 0 auto;
}

.box-card {
    display: flex;
    gap: 100px;
    border-radius: 16px;

    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    padding: 48px;
}

.box-card>div {
    width: 450px;

}

.box-card p,
.another-box-card p {
    padding: 16px 0 32px 0;
}

.box-card img {
    width: 250px;
    height: 210px;
}

.another-box-card {
    margin: 32px 0;
    display: flex;
    gap: 100px;
    border-radius: 16px;

    background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    padding: 48px;
}

/* Inspiration-section-style */
.my-inspiration-section {
    width: 1100px;
    margin: 74px auto 150px;
    text-align: center;
}

.my-inspiration-section p {
    width: 850px;
    margin: 0 auto;
    padding: 24px 0 40px 0;
}

.my-inspiration-section div {
   
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 20px;
    width: 53%;
    margin: 0 auto;

}

.video {
    border-radius: 16px;



}


/* Footer-section-style */
#footer-container {
    background-color: rgba(13, 19, 33, 0.03);
    height: 100px;
}

#footer-container>div {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.anchor-container {
    padding: 35px 0;
}

#footer-container p {
    padding-top: 40px;
    font-weight: 600;
    font-size: 20px;
}

#footer-container a {
    padding-left: 24px;

}